html {
    background-color: #E8E8E8
}

h1{
    margin: 0;
    font-size: 60px;
    padding: 20px 0;
    color: #728AAF;
    font-family: 'Kanit', sans-serif;
    text-shadow: 3px 3px 1px black;
    text-align: center;
}



